@font-face {
  font-family: "MinionPro";
  src: url("../fonts/minionpro-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KudryWeirdHeadline";
  src: url("../fonts/kudry_weird-headline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  font-family: "KudryWeirdHeadline", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.header {
  width: 100%;
  height: 84px;
  background: #ffe5ed;
  display: flex;
}
.header__wrapper {
  max-width: 1360px;
  width: 100%;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__link {
  font-family: "MinionPro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: auto;
}
/*---hero---*/
.hero {
  width: 100%;
  display: flex;
}
.hero__wrapper {
  max-width: 1360px;
  width: 100%;
  padding: 83px 80px 54px 80px;
  box-sizing: border-box;
  display: flex;
  gap: 53px;
  margin: 0 auto;
}
.hero__image {
  width: 550px;
  height: 550px;
}
.hero__title {
  max-width: 525px;
  width: 100%;
  font-weight: 300;
  font-size: 96px;
  line-height: 124.32px;
  color: #000;
}
/*---quote---*/
.quote {
  width: 100%;
  display: flex;
  background: #ffe5ed;
}
.quote__container {
  max-width: 1360px;
  width: 100%;
  padding-left: 134px;
  padding-right: 134px;
  box-sizing: border-box;
  margin: 0 auto;
}
.quote__wrapper {
  width: 100%;
  margin: 130px auto 116px auto;
  display: flex;
  justify-content: center;
  border: 5px solid #ffffff;
  border-radius: 10px;
}
.quote__text {
  max-width: 743px;
  width: 100%;
  margin-top: 62px;
  margin-bottom: 51px;
  font-family: "MinionPro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #000;
  text-align: center;
}
/*---action---*/
.action {
  width: 100%;
  display: flex;
}
.action__container {
  max-width: 1360px;
  width: 100%;
  padding-left: 99px;
  padding-right: 92px;
  box-sizing: border-box;
  margin: 0 auto;
}
.action__wrapper {
  padding-top: 99px;
  padding-bottom: 130px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.action__item {
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.action__title {
  font-family: "KudryWeirdHeadline", sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 82.88px;
  color: #000;
}
.action__subtitle {
  font-family: "MinionPro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #000;
  max-width: 674px;
  width: 100%;
}
.action__item-image {
  display: flex;
  gap: 142px;
  margin-top: 30px;
  margin-bottom: 130px;
}
.action__image {
  width: 292px;
  height: 292px;
}
.action__item-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 75px;
}
/*---way---*/
.way {
  width: 100%;
  display: flex;
  background: #ffe5ed;
}
.way__container {
  max-width: 1360px;
  width: 100%;
  padding-left: 114px;
  padding-right: 154px;
  box-sizing: border-box;
  margin: 0 auto;
}
.way__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 113px;
  margin-bottom: 130px;
}
.way__top {
  display: flex;
  justify-content: center;
  border: 5px solid #ffffff;
  border-radius: 10px;
}
.way__text {
  max-width: 743px;
  width: 100%;
  margin-top: 41px;
  margin-bottom: 15px;
  font-family: "MinionPro", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 43.2px;
  color: #000;
  text-align: center;
}
